In [1]:
import geopandas as gpd

In [3]:
geo_df = gpd.read_file(r"./data/sc_eq_events.geojson")

In [7]:
geo_df[['id', 'geometry']]

            id                              geometry
0   se60162643  POINT Z (-80.72067 34.17267 1.48000)
1   se60162243  POINT Z (-80.72317 34.17050 3.15000)
2   se60161443  POINT Z (-82.98517 34.45617 0.08000)
3   se60160443  POINT Z (-80.71050 34.16550 3.09000)
4   se60159943  POINT Z (-82.61067 34.43250 0.03000)
..         ...                                   ...
82  se60141343  POINT Z (-80.70050 34.19083 2.67000)
83  se60141243  POINT Z (-80.72900 34.15500 0.74000)
84  se60141143  POINT Z (-80.71600 34.17500 1.33000)
85  se60377836  POINT Z (-80.71967 34.18233 3.07000)
86  se60140748  POINT Z (-80.13550 32.94917 2.75000)

[87 rows x 2 columns]